
.flex {
    display: flex;
}
.flex-wrap{
    flex-wrap: wrap;
}
.flex-auto {
    flex: auto;
}
.flex1 {
    flex: 1;
}

.flex-row {
    flex-flow: row wrap;
}

.no-shrink {
    flex-shrink: 0;
}

.shrink-1 {
    flex-shrink: 1;
}

.flex-column {
    flex-flow: column wrap;
}

.gap2 {
    gap: 2px;
}
.gap3 {
    gap: 3px;
}
.gap5 {
    gap: 5px;
}

.gap10 {
    gap: 10px;
}

.flex-column-nowrap {
    flex-flow: column nowrap;
}

.flex-row-nowrap {
    flex-flow: row nowrap;
}

.flex-container {
    display: flex;
}

.flex-item {
    display: flex;
    flex-shrink: 0;
}

.align-item-center {
    align-items: center;
}

/* 伸缩 */
.flex-basic {
    flex-basis: 1%;
}

.justify-b {
    justify-content: space-between;
}
.justify-c {
    justify-content: center;
}

.justify-r {
    justify-content: space-around;
}

.fixed-txt-center {
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.color-red {
    color: red;
}

.zIndex108 {
    z-index: 108;
}

.font-bold {
    font-weight: bold;
}

.font-bolder {
    font-weight: bolder;
}

.font-s16{
    font-size: 16px;
}
.font-s20{
    font-size: 20px;
}
.w-full {
    width: 100vw;
}

.h-full {
    height: 100vh;
}

.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}
.h-auto {
    height: auto;
}

.w-50 {
    width: 50%;
}

.h-50 {
    height: 50%;
}

.wh-full {
    width: 100vw;
    height: 100vh;
}

.border-transparent-1 {
    border: 1px solid transparent;
}

.cursor-point {

}

.cursor-point:hover {
    cursor: pointer;
}

.no-select {

    -webkit-touch-callout: none; /* iOS Safari */

    -webkit-user-select: none; /* Chrome/Safari/Opera */

    -khtml-user-select: none; /* Konqueror */

    -moz-user-select: none; /* Firefox */

    -ms-user-select: none; /* Internet Explorer/Edge */

    user-select: none; /* Non-prefixed version, currently not supported by any browser */

}

.ml-5 {
    margin-left: 5px;
}

.mr-5 {
    margin-right: 5px;
}

.mt-5 {
    margin-top: 5px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-15 {
    margin-top: 15px;
}

.mt-20 {
    margin-top: 20px;
}

.mb-10 {
    margin-bottom: 10px;
}
.mb-20 {
    margin-bottom: 20px;
}

.mb-5 {
    margin-bottom: 5px;
}

.mb-4 {
    margin-bottom: 4px;
}

.text-overflow-dot {
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.text-over-dot {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.no-transition {
    transition: none !important;
}

.text-indent0 {
    text-indent: 0 !important;
}

.text-nowrap {
    text-wrap: nowrap;
}

.pl-5 {
    padding-left: 5px;
}

.pr-5 {
    padding-right: 5px;
}

.pt-5 {
    padding-top: 5px;
}

.pb-10 {
    padding-bottom: 10px;
}

.pb-5 {
    padding-bottom: 5px;
}

.pb-4 {
    padding-bottom: 4px;
}

.p-5 {
    padding: 5px;
}

.over-y-auto {
    overflow-y: auto;
}
.over-auto {
    overflow: auto;
}
.over-hidden {
    overflow: hidden;
}

.position-relative{
    position:relative;
}
.position-absolute{
    position:absolute;
}